.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-color: green;
  background-color: #000000;

  width: 100%;

}
.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar-nav>li{

}
/* Add a black background color and some padding to the footer */
footer {
  background-color: #000000;
  padding: 25px;
}
.hr1{
  color: #B9B7CC
}
