.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #000000;

}
.navbar-nav>li{
  border-right: 1px solid #000;
}
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #000000;
  padding: 25px;
}
.hr1{
  color: #B9B7CC
}
